.container {
  display: flex;
  flex-direction: column;
}

.profile {
  margin-left: auto;
  display: flex;
  width: 78%;
  height: 320px;
}

.paragraph {
  width: 320px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.cancelButton {
  background-color: transparent;
  border: none;
  color: #4c4cff;
  margin-right: 5px;
  width: 150px;
  height: 55px;
  font-family: 'Jet Brains Mono';
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.cancelButton:hover {
  color: white;
}

.information {
  min-height: 690px;
  max-width: 584px;
  overflow-y: auto;
  padding-right: 8px;
}

.information::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.information::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.information::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #2f2f37;
}