.header {
  background-color: #1c1c21;
  height: 88px;
  display: flex;
  justify-content: center;
}

.navigation {
  display: grid;
  width: 1240px;
  grid-template-rows: max-content;
  grid-template-columns: max-content max-content 1fr max-content;
  grid-auto-rows: 0px;
  align-self: center;
}

.logo {
  position: relative;
  left: calc(160px - 10%);
  width: 290px;
}

.languageButton {
  background-color: transparent;
  border: none;
  color: #f2f2f3;
  padding: 0;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.5;
}

.languageButton:hover {
  opacity: 1;
}
